Repository amitrub/Trading-System, pull requests merged in 2021-05, with the labels that each got.

#147 Merge version 2.0
  version_1/Trading-System/Error.log.lck
  version_1/Trading-System/Info.log.lck
  version_1/Trading-System/src/main/frontend/src/App.js
  version_1/Trading-System/src/main/java/TradingSystem/Server/DomainLayer/TradingSystemComponent/TradingSystem.java
  version_1/Trading-System/src/main/java/TradingSystem/Server/DomainLayer/UserComponent/User.java
  version_1/Trading-System/src/main/java/TradingSystem/Server/ServiceLayer/DummyObject/Response.java
  version_1/Trading-System/src/main/java/TradingSystem/Server/ServiceLayer/ServiceApi/AdminService.java
  version_1/Trading-System/src/main/java/TradingSystem/Server/ServiceLayer/ServiceApi/GuestService.java
  version_1/Trading-System/src/main/java/TradingSystem/Server/ServiceLayer/ServiceApi/StoreOwnerService.java
  version_1/Trading-System/src/main/java/TradingSystem/Server/ServiceLayer/ServiceApi/SubscriberService.java
Labels: Client

#151 4.2-discount policy (server)-elinor
  version_1/Trading-System/Error.log.1
  version_1/Trading-System/src/main/java/TradingSystem/Server/DomainLayer/StoreComponent/Policies/DiscountPolicy.java
  version_1/Trading-System/src/main/java/TradingSystem/Server/DomainLayer/StoreComponent/Store.java
  version_1/Trading-System/src/test/java/TradingSystem/Server/DomainLayer/StoreComponent/Policies/BuyingPolicyTest.java
  version_1/Trading-System/src/test/java/TradingSystem/Server/DomainLayer/StoreComponent/Policies/DiscountPolicyTest.java
  version_1/Trading-System/src/test/java/TradingSystem/Server/DomainLayer/StoreComponent/StoreTest.java
Labels: Server

#158 Running tests elinor
  version_1/Trading-System/Error.log.1
  version_1/Trading-System/Info.log.1
  version_1/Trading-System/src/main/java/TradingSystem/Client/Client.java
  version_1/Trading-System/src/main/java/TradingSystem/Client/ClientProxy.java
  version_1/Trading-System/src/main/java/TradingSystem/Client/Client_Driver.java
  version_1/Trading-System/src/main/java/TradingSystem/Client/Client_Interface.java
  version_1/Trading-System/src/main/java/TradingSystem/Server/DomainLayer/TradingSystemComponent/TradingSystemImpl.java
  version_1/Trading-System/src/main/java/TradingSystem/Server/ServiceLayer/Bridge/ProxyTrading.java
  version_1/Trading-System/src/main/java/TradingSystem/Server/ServiceLayer/Bridge/Trading_Driver.java
  version_1/Trading-System/src/main/java/TradingSystem/Server/ServiceLayer/Configuration.java
  version_1/Trading-System/src/main/java/TradingSystem/Server/ServiceLayer/DummyObject/Response.java
  version_1/Trading-System/src/main/java/TradingSystem/Server/ServiceLayer/ServiceApi/StoreOwnerServiceHttp.java
  version_1/Trading-System/src/test/java/TradingSystem/Acceptence_test/AddManagerTask.java
  version_1/Trading-System/src/test/java/TradingSystem/Acceptence_test/AdminTests.java
  version_1/Trading-System/src/test/java/TradingSystem/Acceptence_test/GreetingIntegrationTests.java
  version_1/Trading-System/src/test/java/TradingSystem/Acceptence_test/GuestTests.java
  version_1/Trading-System/src/test/java/TradingSystem/Acceptence_test/OwnerTests.java
  version_1/Trading-System/src/test/java/TradingSystem/Acceptence_test/PurchaseTask.java
  version_1/Trading-System/src/test/java/TradingSystem/Acceptence_test/RegisterTask.java
  version_1/Trading-System/src/test/java/TradingSystem/Acceptence_test/RemoveProductTask.java
  version_1/Trading-System/src/test/java/TradingSystem/Acceptence_test/Result.java
  version_1/Trading-System/src/test/java/TradingSystem/Acceptence_test/SubscriberTests.java
  version_1/Trading-System/src/test/java/TradingSystem/Acceptence_test/TestsNew.java
  version_1/Trading-System/src/test/java/TradingSystem/ProjectTest.java
Labels: Client

#166 4.2 discount policy (server)
  version_0/Split_Parts/ArchitectureDiagram/architectureDiagrma_new.drawio
  version_1/Trading-System/Error.log.lck
  version_1/Trading-System/Info.log.lck
  version_1/Trading-System/src/main/java/TradingSystem/Server/DomainLayer/StoreComponent/Policies/Expressions/XorComposite.java
  version_1/Trading-System/src/main/java/TradingSystem/Server/DomainLayer/StoreComponent/Policies/Sales/XorComposite.java
  version_1/Trading-System/src/main/java/TradingSystem/Server/DomainLayer/StoreComponent/Policies/Sales/XorDecision/Cheaper.java
  version_1/Trading-System/src/main/java/TradingSystem/Server/DomainLayer/StoreComponent/Policies/Sales/XorDecision/Decission.java
  version_1/Trading-System/src/main/java/TradingSystem/Server/DomainLayer/TradingSystemComponent/TradingSystem.java
  version_1/Trading-System/src/main/java/TradingSystem/Server/DomainLayer/TradingSystemComponent/TradingSystemImpl.java
  version_1/Trading-System/src/main/java/TradingSystem/Server/ServiceLayer/Bridge/ProxyTrading.java
  version_1/Trading-System/src/main/java/TradingSystem/Server/ServiceLayer/ServiceApi/StoreOwnerService.java
  version_1/Trading-System/src/main/java/TradingSystem/Server/ServiceLayer/ServiceApi/StoreOwnerServiceHttp.java
  version_1/Trading-System/src/test/java/TradingSystem/Server/DomainLayer/StoreComponent/StoreTest.java
  version_1/Trading-System/src/test/java/TradingSystem/Server/DomainLayer/TradingSystemComponent/TradingSystemImplTest.java
Labels: Server

#167 policies tests update
  version_1/Trading-System/Info.log.1
  version_1/Trading-System/src/main/java/TradingSystem/Client/Client.java
  version_1/Trading-System/src/main/java/TradingSystem/Client/ClientProxy.java
  version_1/Trading-System/src/main/java/TradingSystem/Client/Client_Interface.java
  version_1/Trading-System/src/main/java/TradingSystem/Server/ServiceLayer/ServiceApi/StoreOwnerService.java
  version_1/Trading-System/src/test/java/TradingSystem/Acceptence_test/OwnerTests.java
  version_1/Trading-System/src/test/java/TradingSystem/Acceptence_test/PoliciesTests.java
Labels: Client

#176 4.2-review policies + unit tests + acceptence tests
  version_1/Trading-System/src/main/java/TradingSystem/Client/Client.java
  version_1/Trading-System/src/main/java/TradingSystem/Client/ClientProxy.java
  version_1/Trading-System/src/main/java/TradingSystem/Client/Client_Interface.java
  version_1/Trading-System/src/main/java/TradingSystem/Server/DomainLayer/TradingSystemComponent/TradingSystem.java
  version_1/Trading-System/src/main/java/TradingSystem/Server/DomainLayer/TradingSystemComponent/TradingSystemImpl.java
  version_1/Trading-System/src/main/java/TradingSystem/Server/ServiceLayer/Bridge/ProxyTrading.java
  version_1/Trading-System/src/main/java/TradingSystem/Server/ServiceLayer/ServiceApi/StoreOwnerServiceHttp.java
  version_1/Trading-System/src/test/java/TradingSystem/Acceptence_test/OwnerTests.java
  version_1/Trading-System/src/test/java/TradingSystem/Acceptence_test/PoliciesTests.java
  version_1/Trading-System/src/test/java/TradingSystem/Server/DomainLayer/TradingSystemComponent/TradingSystemImplTest.java
Labels: Client, Server

#178 3.3-fix write comment tests
  version_1/Trading-System/Info.log.1
  version_1/Trading-System/src/main/java/TradingSystem/Server/DomainLayer/TradingSystemComponent/TradingSystemImpl.java
  version_1/Trading-System/src/test/java/TradingSystem/Acceptence_test/SubscriberTests.java
Labels: Client

#180 Add Policy for purchace + fixing bugs
  version_1/Trading-System/src/main/java/TradingSystem/Server/DomainLayer/ShoppingComponent/ShoppingCart.java
  version_1/Trading-System/src/main/java/TradingSystem/Server/DomainLayer/StoreComponent/Inventory.java
  version_1/Trading-System/src/main/java/TradingSystem/Server/DomainLayer/StoreComponent/Policies/Expressions/CompositeExpression.java
  version_1/Trading-System/src/main/java/TradingSystem/Server/DomainLayer/StoreComponent/Policies/Expressions/SimpleExpression.java
  version_1/Trading-System/src/main/java/TradingSystem/Server/DomainLayer/StoreComponent/Policies/LimitExp/AgeLimitForCategory.java
  version_1/Trading-System/src/main/java/TradingSystem/Server/DomainLayer/StoreComponent/Policies/LimitExp/AgeLimitForProduct.java
  version_1/Trading-System/src/main/java/TradingSystem/Server/DomainLayer/StoreComponent/Policies/LimitExp/AgeLimitForStore.java
  version_1/Trading-System/src/main/java/TradingSystem/Server/DomainLayer/StoreComponent/Policies/LimitExp/QuantityLimitForCategory.java
  version_1/Trading-System/src/main/java/TradingSystem/Server/DomainLayer/StoreComponent/Policies/LimitExp/QuantityLimitForProduct.java
  version_1/Trading-System/src/main/java/TradingSystem/Server/DomainLayer/StoreComponent/Policies/LimitExp/QuantityLimitForStore.java
  version_1/Trading-System/src/main/java/TradingSystem/Server/DomainLayer/StoreComponent/Policies/SaleExp/NumOfProductsForGetSale.java
  version_1/Trading-System/src/main/java/TradingSystem/Server/DomainLayer/StoreComponent/Policies/SaleExp/PriceForGetSale.java
  version_1/Trading-System/src/main/java/TradingSystem/Server/DomainLayer/StoreComponent/Policies/SaleExp/QuantityForGetSale.java
  version_1/Trading-System/src/main/java/TradingSystem/Server/DomainLayer/StoreComponent/Store.java
  version_1/Trading-System/src/main/java/TradingSystem/Server/DomainLayer/TradingSystemComponent/TradingSystemImpl.java
  version_1/Trading-System/src/main/java/TradingSystem/Server/DomainLayer/TradingSystemComponent/Validation.java
Labels: Server

#181 2.9 purchase tests by policies
  version_1/Trading-System/Info.log.1
  version_1/Trading-System/src/main/java/TradingSystem/Server/DomainLayer/ShoppingComponent/ShoppingCart.java
  version_1/Trading-System/src/main/java/TradingSystem/Server/DomainLayer/TradingSystemComponent/TradingSystemImpl.java
  version_1/Trading-System/src/main/java/TradingSystem/Server/DomainLayer/TradingSystemComponent/Validation.java
  version_1/Trading-System/src/test/java/TradingSystem/Acceptence_test/SubscriberTests.java
  version_1/Trading-System/src/test/java/TradingSystem/Server/DomainLayer/ShoppingComponent/ShoppingCartTest.java
  version_1/Trading-System/src/test/java/TradingSystem/Server/DomainLayer/TradingSystemComponent/TradingSystemImplTest.java
Labels: Server

#183 Fix all requairements
  version_1/Trading-System/src/main/java/TradingSystem/Server/DomainLayer/TradingSystemComponent/TradingSystemImpl.java
  version_1/Trading-System/src/test/java/TradingSystem/Server/DomainLayer/ShoppingComponent/ShoppingCartTest.java
  version_1/Trading-System/src/test/java/TradingSystem/Server/DomainLayer/StoreComponent/StoreTest.java
  version_1/Trading-System/src/test/java/TradingSystem/Server/DomainLayer/TradingSystemComponent/TradingSystemImplTest.java
Labels: Server

#184 fix client and more tests
  version_1/Trading-System/src/main/java/TradingSystem/Client/Client.java
  version_1/Trading-System/src/main/java/TradingSystem/Client/ClientProxy.java
  version_1/Trading-System/src/main/java/TradingSystem/Client/Client_Interface.java
  version_1/Trading-System/src/test/java/TradingSystem/Acceptence_test/AdminTests.java
  version_1/Trading-System/src/test/java/TradingSystem/Acceptence_test/GuestTests.java
  version_1/Trading-System/src/test/java/TradingSystem/Acceptence_test/ManagerTests.java
  version_1/Trading-System/src/test/java/TradingSystem/Acceptence_test/OwnerTests.java
  version_1/Trading-System/src/test/java/TradingSystem/Acceptence_test/PoliciesTests.java
  version_1/Trading-System/src/test/java/TradingSystem/Acceptence_test/SubscriberTests.java
  version_1/Trading-System/src/test/java/TradingSystem/Server/DomainLayer/TradingSystemComponent/TradingSystemImplTest.java
Labels: Client, Server

#186 some updates
  version_1/Trading-System/src/main/java/TradingSystem/Server/DomainLayer/StoreComponent/Store.java
  version_1/Trading-System/src/main/java/TradingSystem/Server/DomainLayer/TradingSystemComponent/TradingSystemImpl.java
  version_1/Trading-System/src/test/java/TradingSystem/Server/DomainLayer/TradingSystemComponent/TradingSystemImplTest.java
Labels: Server

#187 Add unit tests for xor and cnd
  version_1/Trading-System/src/main/java/TradingSystem/Server/DomainLayer/StoreComponent/Policies/Expressions/ConditionRoles/ConditionRole.java
  version_1/Trading-System/src/main/java/TradingSystem/Server/DomainLayer/StoreComponent/Policies/Expressions/ConditionRoles/ExistProduct.java
  version_1/Trading-System/src/main/java/TradingSystem/Server/DomainLayer/StoreComponent/Policies/Expressions/Conditioning.java
  version_1/Trading-System/src/main/java/TradingSystem/Server/DomainLayer/StoreComponent/Policies/Sales/XorComposite.java
  version_1/Trading-System/src/main/java/TradingSystem/Server/DomainLayer/StoreComponent/Policies/Sales/XorDecision/Cheaper.java
  version_1/Trading-System/src/main/java/TradingSystem/Server/DomainLayer/StoreComponent/Policies/Sales/XorDecision/Decision.java
  version_1/Trading-System/src/main/java/TradingSystem/Server/DomainLayer/TradingSystemComponent/TradingSystemImpl.java
  version_1/Trading-System/src/test/java/TradingSystem/Server/DomainLayer/StoreComponent/Policies/BuyingPolicyTest.java
  version_1/Trading-System/src/test/java/TradingSystem/Server/DomainLayer/StoreComponent/Policies/DiscountPolicyTest.java
Labels: Server

#189 Parallel Unit Tests
  version_1/Trading-System/src/main/java/TradingSystem/Server/DomainLayer/ShoppingComponent/ShoppingBag.java
  version_1/Trading-System/src/test/java/TradingSystem/Acceptence_test/GuestTests.java
  version_1/Trading-System/src/test/java/TradingSystem/Acceptence_test/PurchaseTask.java
  version_1/Trading-System/src/test/java/TradingSystem/Server/DomainLayer/TradingSystemComponent/Task/PurchaseTaskUnitTests.java
  version_1/Trading-System/src/test/java/TradingSystem/Server/DomainLayer/TradingSystemComponent/Task/ResultUnitTests.java
  version_1/Trading-System/src/test/java/TradingSystem/Server/DomainLayer/TradingSystemComponent/TradingSystemImplTest.java
Labels: Client

#191 Fix Parallel tests - Unit Tests
  version_1/Trading-System/src/test/java/TradingSystem/Acceptence_test/AddManagerTask.java
  version_1/Trading-System/src/test/java/TradingSystem/Acceptence_test/GuestTests.java
  version_1/Trading-System/src/test/java/TradingSystem/Acceptence_test/OwnerTests.java
  version_1/Trading-System/src/test/java/TradingSystem/Acceptence_test/PurchaseTask.java
  version_1/Trading-System/src/test/java/TradingSystem/Acceptence_test/RegisterTask.java
  version_1/Trading-System/src/test/java/TradingSystem/Acceptence_test/RemoveProductTask.java
  version_1/Trading-System/src/test/java/TradingSystem/Acceptence_test/Result.java
  version_1/Trading-System/src/test/java/TradingSystem/Server/DomainLayer/TradingSystemComponent/Task/AddManagerTaskUnitTests.java
  version_1/Trading-System/src/test/java/TradingSystem/Server/DomainLayer/TradingSystemComponent/Task/RegisterTaskUnitTests.java
  version_1/Trading-System/src/test/java/TradingSystem/Server/DomainLayer/TradingSystemComponent/Task/RemoveProductTaskUnitTests.java
  version_1/Trading-System/src/test/java/TradingSystem/Server/DomainLayer/TradingSystemComponent/TradingSystemImplTest.java
Labels: Server

#195 GUI updates: until permissions include
  version_1/Trading-System/src/main/frontend/src/ApiClientHttp.js
  version_1/Trading-System/src/main/frontend/src/Components/OwnerComponents/OwnerServices/AddProduct.js
  version_1/Trading-System/src/main/frontend/src/Components/OwnerComponents/OwnerServices/Add_RemoveEmployee.js
  version_1/Trading-System/src/main/frontend/src/Components/OwnerComponents/OwnerServices/ChangeQuantityProduct.js
  version_1/Trading-System/src/main/frontend/src/Components/OwnerComponents/OwnerServices/EditPermissions.js
  version_1/Trading-System/src/main/frontend/src/Components/OwnerComponents/OwnerServices/EditProduct.js
  version_1/Trading-System/src/main/frontend/src/Components/OwnerComponents/OwnerServices/RemoveProduct.js
  version_1/Trading-System/src/main/frontend/src/Components/OwnerComponents/OwnerStores/OwnerStoreService.js
Labels: Client

#196 fix add manager parallel test
  version_1/Trading-System/src/test/java/TradingSystem/Acceptence_test/OwnerTests.java
  version_1/Trading-System/src/test/java/TradingSystem/Server/DomainLayer/TradingSystemComponent/TradingSystemImplTest.java
Labels: Server

#197 update alert details
  version_1/Trading-System/src/main/java/TradingSystem/Server/DomainLayer/TradingSystemComponent/TradingSystemImpl.java
Labels: Server

#198 update alert
  version_1/Trading-System/src/main/java/TradingSystem/Server/DomainLayer/TradingSystemComponent/TradingSystemImpl.java
  version_1/Trading-System/src/main/java/TradingSystem/Server/DomainLayer/UserComponent/User.java
  version_1/Trading-System/src/test/java/TradingSystem/Server/DomainLayer/TradingSystemComponent/TradingSystemImplTest.java
Labels: Server

#199 GUI update - Real time alert finish!!
  version_1/Trading-System/src/main/frontend/src/ApiClientHttp.js
  version_1/Trading-System/src/main/frontend/src/App.js
  version_1/Trading-System/src/main/frontend/src/Components/GuestComponents/Purchase/Purchase.js
  version_1/Trading-System/src/main/frontend/src/Components/OwnerComponents/OwnerServices/EditPermissions.js
  version_1/Trading-System/src/main/frontend/src/Components/SubscriberComponents/OpenStore/OpenStore.js
  version_1/Trading-System/src/main/frontend/src/Components/SubscriberComponents/SubscriberServices/SubscriberServices.js
  version_1/Trading-System/src/main/frontend/src/Components/SubscriberComponents/UserHistory/UserHistory.js
  version_1/Trading-System/src/main/frontend/src/Components/SubscriberComponents/WriteComment/WriteComment.js
  version_1/Trading-System/src/main/java/TradingSystem/Server/DomainLayer/TradingSystemComponent/TradingSystemImpl.java
  version_1/Trading-System/src/main/java/TradingSystem/Server/DomainLayer/UserComponent/User.java
Labels: Client

#200 GetPermiision fix
  version_1/Trading-System/src/main/java/TradingSystem/Client/Client.java
  version_1/Trading-System/src/main/java/TradingSystem/Client/ClientProxy.java
  version_1/Trading-System/src/main/java/TradingSystem/Client/Client_Interface.java
  version_1/Trading-System/src/main/java/TradingSystem/Server/DomainLayer/TradingSystemComponent/TradingSystem.java
  version_1/Trading-System/src/main/java/TradingSystem/Server/DomainLayer/TradingSystemComponent/TradingSystemImpl.java
  version_1/Trading-System/src/main/java/TradingSystem/Server/DomainLayer/UserComponent/OwnerPermission.java
  version_1/Trading-System/src/main/java/TradingSystem/Server/ServiceLayer/Bridge/ProxyTrading.java
  version_1/Trading-System/src/main/java/TradingSystem/Server/ServiceLayer/ServiceApi/StoreOwnerServiceHttp.java
  version_1/Trading-System/src/test/java/TradingSystem/Acceptence_test/OwnerTests.java
  version_1/Trading-System/src/test/java/TradingSystem/Server/DomainLayer/TradingSystemComponent/TradingSystemImplTest.java
Labels: Client, Server

#201 Condition + Xor fixs
  version_1/Trading-System/src/main/java/TradingSystem/Server/DomainLayer/StoreComponent/Policies/Expressions/ConditionRoles/ConditionRole.java
  version_1/Trading-System/src/main/java/TradingSystem/Server/DomainLayer/StoreComponent/Policies/Expressions/ConditionRoles/ExistProduct.java
  version_1/Trading-System/src/main/java/TradingSystem/Server/DomainLayer/StoreComponent/Policies/Expressions/Conditioning.java
  version_1/Trading-System/src/main/java/TradingSystem/Server/DomainLayer/TradingSystemComponent/TradingSystemImpl.java
  version_1/Trading-System/src/test/java/TradingSystem/Server/DomainLayer/StoreComponent/Policies/BuyingPolicyTest.java
Labels: Server

#202 fix client tests
  version_1/Trading-System/src/main/java/TradingSystem/Server/DomainLayer/ShoppingComponent/ShoppingCart.java
  version_1/Trading-System/src/test/java/TradingSystem/Acceptence_test/GuestTests.java
  version_1/Trading-System/src/test/java/TradingSystem/Acceptence_test/ManagerTests.java
  version_1/Trading-System/src/test/java/TradingSystem/Acceptence_test/OwnerTests.java
  version_1/Trading-System/src/test/java/TradingSystem/Acceptence_test/PoliciesTests.java
  version_1/Trading-System/src/test/java/TradingSystem/Acceptence_test/SubscriberTests.java
Labels: Client

#207 fix show user history
  version_1/Trading-System/src/main/java/TradingSystem/Server/DomainLayer/ShoppingComponent/ShoppingCart.java
  version_1/Trading-System/src/main/java/TradingSystem/Server/DomainLayer/StoreComponent/Inventory.java
  version_1/Trading-System/src/main/java/TradingSystem/Server/DomainLayer/StoreComponent/Store.java
  version_1/Trading-System/src/main/java/TradingSystem/Server/DomainLayer/TradingSystemComponent/TradingSystemImpl.java
  version_1/Trading-System/src/main/java/TradingSystem/Server/DomainLayer/UserComponent/User.java
  version_1/Trading-System/src/main/java/TradingSystem/Server/ServiceLayer/DummyObject/DummyProduct.java
  version_1/Trading-System/src/main/java/TradingSystem/Server/ServiceLayer/DummyObject/DummyShoppingHistory.java
  version_1/Trading-System/src/test/java/TradingSystem/Server/DomainLayer/TradingSystemComponent/TradingSystemImplTest.java
Labels: Server

#211 Version 2 Finish GUI fix
  version_1/Trading-System/src/main/frontend/src/ApiClientHttp.js
  version_1/Trading-System/src/main/frontend/src/Components/GuestComponents/Stores/Stores.js
  version_1/Trading-System/src/main/frontend/src/Components/OwnerComponents/OwnerServices/AddRemoveEmployee.js
  version_1/Trading-System/src/main/frontend/src/Components/OwnerComponents/OwnerStores/AdminServices/AdminServices.js
  version_1/Trading-System/src/main/frontend/src/Components/OwnerComponents/OwnerStores/AdminServices/AllUsersHistories/AllUsersHistories.js
  version_1/Trading-System/src/main/frontend/src/Components/OwnerComponents/OwnerStores/AdminServices/UserStoreHistory.js
  version_1/Trading-System/src/main/frontend/src/Components/OwnerComponents/OwnerStores/ManagerStoreService.js
  version_1/Trading-System/src/main/frontend/src/Components/SubscriberComponents/UserHistory/ProductInHistory.js
  version_1/Trading-System/src/main/frontend/src/Components/SubscriberComponents/UserHistory/PurchaseHistory.js
  version_1/Trading-System/src/main/frontend/src/Components/SubscriberComponents/UserHistory/UserHistory.js
  version_1/Trading-System/src/main/java/TradingSystem/Server/DomainLayer/UserComponent/User.java
Labels: Client

#214 some fix
  version_1/Trading-System/src/main/java/TradingSystem/Server/DomainLayer/TradingSystemComponent/TradingSystemImpl.java
  version_1/Trading-System/src/main/java/TradingSystem/Server/DomainLayer/UserComponent/User.java
Labels: Server

#217 Req 7 & 8 - External Systems
  version_1/Trading-System/Error.log.1
  version_1/Trading-System/Info.log.1
  version_1/Trading-System/pom.xml
  version_1/Trading-System/src/main/java/TradingSystem/Client/Client.java
  version_1/Trading-System/src/main/java/TradingSystem/Client/ClientProxy.java
  version_1/Trading-System/src/main/java/TradingSystem/Client/Client_Interface.java
  version_1/Trading-System/src/main/java/TradingSystem/Server/DomainLayer/ExternalServices/AddressInfo.java
  version_1/Trading-System/src/main/java/TradingSystem/Server/DomainLayer/ExternalServices/ExternalServices.java
  version_1/Trading-System/src/main/java/TradingSystem/Server/DomainLayer/ExternalServices/PaymentInfo.java
  version_1/Trading-System/src/main/java/TradingSystem/Server/DomainLayer/ExternalServices/PaymentSystem.java
  version_1/Trading-System/src/main/java/TradingSystem/Server/DomainLayer/ExternalServices/PaymentSystemProxy.java
  version_1/Trading-System/src/main/java/TradingSystem/Server/DomainLayer/ExternalServices/PaymentSystem_Driver.java
  version_1/Trading-System/src/main/java/TradingSystem/Server/DomainLayer/ExternalServices/SupplySystem.java
  version_1/Trading-System/src/main/java/TradingSystem/Server/DomainLayer/ExternalServices/SupplySystemProxy.java
  version_1/Trading-System/src/main/java/TradingSystem/Server/DomainLayer/ExternalServices/SupplySystem_Driver.java
  version_1/Trading-System/src/main/java/TradingSystem/Server/DomainLayer/ShoppingComponent/ShoppingCart.java
  version_1/Trading-System/src/main/java/TradingSystem/Server/DomainLayer/TradingSystemComponent/TradingSystem.java
  version_1/Trading-System/src/main/java/TradingSystem/Server/DomainLayer/TradingSystemComponent/TradingSystemImpl.java
  version_1/Trading-System/src/main/java/TradingSystem/Server/DomainLayer/UserComponent/User.java
  version_1/Trading-System/src/main/java/TradingSystem/Server/ServiceLayer/Bridge/ProxyTrading.java
  version_1/Trading-System/src/main/java/TradingSystem/Server/ServiceLayer/Configuration.java
  version_1/Trading-System/src/main/java/TradingSystem/Server/ServiceLayer/ServiceApi/GuestServiceHttp.java
  version_1/Trading-System/src/main/java/TradingSystem/Server/ServiceLayer/ServiceApi/SubscriberServiceHttp.java
  version_1/Trading-System/src/test/java/TradingSystem/Acceptence_test/AdminTests.java
  version_1/Trading-System/src/test/java/TradingSystem/Acceptence_test/GuestTests.java
  version_1/Trading-System/src/test/java/TradingSystem/Acceptence_test/OwnerTests.java
  version_1/Trading-System/src/test/java/TradingSystem/Acceptence_test/SubscriberTests.java
  version_1/Trading-System/src/test/java/TradingSystem/Server/DomainLayer/ExternalServices/PaymentSystemTest.java
  version_1/Trading-System/src/test/java/TradingSystem/Server/DomainLayer/ExternalServices/SupplySystemTest.java
  version_1/Trading-System/src/test/java/TradingSystem/Server/DomainLayer/TradingSystemComponent/Task/PurchaseTaskUnitTests.java
  version_1/Trading-System/src/test/java/TradingSystem/Server/DomainLayer/TradingSystemComponent/TradingSystemImplTest.java
Labels: Server

#218 Req 4.12 & 6.6 view revenue on a daily basis
  version_1/Trading-System/src/main/java/TradingSystem/Server/DomainLayer/StoreComponent/Store.java
  version_1/Trading-System/src/main/java/TradingSystem/Server/DomainLayer/TradingSystemComponent/TradingSystem.java
  version_1/Trading-System/src/main/java/TradingSystem/Server/DomainLayer/TradingSystemComponent/TradingSystemImpl.java
  version_1/Trading-System/src/main/java/TradingSystem/Server/DomainLayer/UserComponent/OwnerPermission.java
  version_1/Trading-System/src/main/java/TradingSystem/Server/DomainLayer/UserComponent/SystemManagerPermission.java
  version_1/Trading-System/src/main/java/TradingSystem/Server/DomainLayer/UserComponent/User.java
  version_1/Trading-System/src/main/java/TradingSystem/Server/ServiceLayer/Bridge/ProxyTrading.java
  version_1/Trading-System/src/main/java/TradingSystem/Server/ServiceLayer/ServiceApi/AdminServiceHttp.java
  version_1/Trading-System/src/main/java/TradingSystem/Server/ServiceLayer/ServiceApi/StoreOwnerServiceHttp.java
  version_1/Trading-System/src/test/java/TradingSystem/Acceptence_test/AdminTests.java
  version_1/Trading-System/src/test/java/TradingSystem/Acceptence_test/OwnerTests.java
  version_1/Trading-System/src/test/java/TradingSystem/Server/DomainLayer/TradingSystemComponent/TradingSystemImplTest.java
Labels: Server

#219 Req 5-immunity against system crashes
  version_1/Trading-System/src/main/java/TradingSystem/Client/Client.java
  version_1/Trading-System/src/main/java/TradingSystem/Server/DomainLayer/ExternalServices/ExternalServices.java
  version_1/Trading-System/src/main/java/TradingSystem/Server/DomainLayer/ExternalServices/PaymentSystem.java
  version_1/Trading-System/src/main/java/TradingSystem/Server/DomainLayer/ExternalServices/PaymentSystemProxy.java
  version_1/Trading-System/src/main/java/TradingSystem/Server/DomainLayer/ExternalServices/SupplySystem.java
  version_1/Trading-System/src/main/java/TradingSystem/Server/DomainLayer/ExternalServices/SupplySystemProxy.java
  version_1/Trading-System/src/main/java/TradingSystem/Server/DomainLayer/ShoppingComponent/ShoppingCart.java
  version_1/Trading-System/src/main/java/TradingSystem/Server/DomainLayer/TradingSystemComponent/TradingSystemImpl.java
  version_1/Trading-System/src/test/java/TradingSystem/Server/DomainLayer/ExternalServices/PaymentSystemTest.java
  version_1/Trading-System/src/test/java/TradingSystem/Server/DomainLayer/ExternalServices/SupplySystemTest.java
  version_1/Trading-System/src/test/java/TradingSystem/Server/DomainLayer/TradingSystemComponent/TradingSystemImplTest.java
Labels: Server

#223 implements before adding to cart
  version_1/Trading-System/src/main/java/TradingSystem/Server/DomainLayer/StoreComponent/Bid.java
  version_1/Trading-System/src/main/java/TradingSystem/Server/DomainLayer/StoreComponent/Store.java
  version_1/Trading-System/src/main/java/TradingSystem/Server/DomainLayer/TradingSystemComponent/TradingSystem.java
  version_1/Trading-System/src/main/java/TradingSystem/Server/DomainLayer/TradingSystemComponent/TradingSystemImpl.java
  version_1/Trading-System/src/main/java/TradingSystem/Server/DomainLayer/UserComponent/OwnerPermission.java
  version_1/Trading-System/src/main/java/TradingSystem/Server/DomainLayer/UserComponent/User.java
  version_1/Trading-System/src/main/java/TradingSystem/Server/ServiceLayer/DummyObject/DummyBid.java
  version_1/Trading-System/src/main/java/TradingSystem/Server/ServiceLayer/ServiceApi/StoreOwnerServiceHttp.java
  version_1/Trading-System/src/main/java/TradingSystem/Server/ServiceLayer/ServiceApi/SubscriberServiceHttp.java
Labels: Server

#225 implements before adding to cart
  version_1/Trading-System/src/main/java/TradingSystem/Server/DomainLayer/StoreComponent/Bid.java
  version_1/Trading-System/src/main/java/TradingSystem/Server/DomainLayer/StoreComponent/Store.java
  version_1/Trading-System/src/main/java/TradingSystem/Server/DomainLayer/TradingSystemComponent/TradingSystem.java
  version_1/Trading-System/src/main/java/TradingSystem/Server/DomainLayer/TradingSystemComponent/TradingSystemImpl.java
  version_1/Trading-System/src/main/java/TradingSystem/Server/ServiceLayer/DummyObject/DummyBid.java
  version_1/Trading-System/src/main/java/TradingSystem/Server/ServiceLayer/ServiceApi/StoreOwnerServiceHttp.java
  version_1/Trading-System/src/main/java/TradingSystem/Server/ServiceLayer/ServiceApi/SubscriberServiceHttp.java
Labels: Server

#227 Req 2.10 submission of a purchase offer
  version_1/Trading-System/Error.log.1
  version_1/Trading-System/Info.log.1
  version_1/Trading-System/src/main/java/TradingSystem/Client/Client.java
  version_1/Trading-System/src/main/java/TradingSystem/Client/ClientProxy.java
  version_1/Trading-System/src/main/java/TradingSystem/Client/Client_Interface.java
  version_1/Trading-System/src/main/java/TradingSystem/Server/DomainLayer/ShoppingComponent/ShoppingBag.java
  version_1/Trading-System/src/main/java/TradingSystem/Server/DomainLayer/ShoppingComponent/ShoppingCart.java
  version_1/Trading-System/src/main/java/TradingSystem/Server/DomainLayer/StoreComponent/Store.java
  version_1/Trading-System/src/main/java/TradingSystem/Server/DomainLayer/TradingSystemComponent/TradingSystemImpl.java
  version_1/Trading-System/src/main/java/TradingSystem/Server/DomainLayer/UserComponent/User.java
  version_1/Trading-System/src/main/java/TradingSystem/Server/ServiceLayer/Bridge/ProxyTrading.java
  version_1/Trading-System/src/main/java/TradingSystem/Server/ServiceLayer/DummyObject/Response.java
  version_1/Trading-System/src/main/java/TradingSystem/Server/ServiceLayer/ServiceApi/AdminServiceHttp.java
  version_1/Trading-System/src/test/java/TradingSystem/Acceptence_test/AdminTests.java
  version_1/Trading-System/src/test/java/TradingSystem/Acceptence_test/GuestTests.java
  version_1/Trading-System/src/test/java/TradingSystem/Acceptence_test/OwnerTests.java
  version_1/Trading-System/src/test/java/TradingSystem/Acceptence_test/SubscriberTests.java
  version_1/Trading-System/src/test/java/TradingSystem/Server/DomainLayer/TradingSystemComponent/TradingSystemImplTest.java
Labels: Server

#243 Change to int
  version_1/Trading-System/src/main/java/TradingSystem/Server/DomainLayer/StoreComponent/Policies/SaleExp/PriceForGetSale.java
  version_1/Trading-System/src/main/java/TradingSystem/Server/DomainLayer/StoreComponent/Policies/Sales/CategorySale.java
  version_1/Trading-System/src/main/java/TradingSystem/Server/DomainLayer/StoreComponent/Policies/Sales/ProductSale.java
  version_1/Trading-System/src/main/java/TradingSystem/Server/DomainLayer/StoreComponent/Policies/Sales/StoreSale.java
  version_1/Trading-System/src/main/java/TradingSystem/Server/DomainLayer/TradingSystemComponent/TradingSystemImpl.java
  version_1/Trading-System/src/main/java/TradingSystem/Server/DomainLayer/TradingSystemComponent/TradingSystemImplRubin.java
  version_1/Trading-System/src/main/resources/application.properties
  version_1/Trading-System/src/test/java/TradingSystem/Acceptence_test/PoliciesTests.java
  version_1/Trading-System/src/test/java/TradingSystem/Server/DomainLayer/StoreComponent/Policies/DiscountPolicyTest.java
Labels: Server

#248 Fix unit tests elinor
  version_1/Trading-System/src/main/java/TradingSystem/Client/Client.java
  version_1/Trading-System/src/main/java/TradingSystem/Client/ClientProxy.java
  version_1/Trading-System/src/main/java/TradingSystem/Client/Client_Interface.java
  version_1/Trading-System/src/main/java/TradingSystem/Server/DomainLayer/TradingSystemComponent/TradingSystemImpl.java
  version_1/Trading-System/src/main/java/TradingSystem/Server/DomainLayer/TradingSystemComponent/TradingSystemImplRubin.java
  version_1/Trading-System/src/main/resources/initialization_System.json
  version_1/Trading-System/src/test/java/TradingSystem/Acceptence_test/GuestTests.java
  version_1/Trading-System/src/test/java/TradingSystem/Acceptence_test/NotificationTests.java
  version_1/Trading-System/src/test/java/TradingSystem/Acceptence_test/OwnerTests.java
  version_1/Trading-System/src/test/java/TradingSystem/Server/DomainLayer/ShoppingComponent/ShoppingCartTest.java
  version_1/Trading-System/src/test/java/TradingSystem/Server/DomainLayer/TradingSystemComponent/Task/AddManagerTaskUnitTests.java
  version_1/Trading-System/src/test/java/TradingSystem/Server/DomainLayer/TradingSystemComponent/Task/PurchaseTaskUnitTests.java
  version_1/Trading-System/src/test/java/TradingSystem/Server/DomainLayer/TradingSystemComponent/myTest.java
Labels: Client

#249 try & catch - External Services
  version_1/Trading-System/src/main/java/TradingSystem/Server/DomainLayer/ExternalServices/PaymentSystem.java
  version_1/Trading-System/src/main/java/TradingSystem/Server/DomainLayer/ExternalServices/SupplySystem.java
Labels: Server
