Repository amitrub/Trading-System, pull requests merged in 2021-04, with the labels that each got.

#10 2.1 connection (Client)
  version_1/Trading-System/src/main/java/TradingSystem/Client/Client.java
  version_1/Trading-System/src/test/java/TradingSystem/GuestTests.java
Labels: Client

#15 3.1 logout check
  version_1/Trading-System/src/main/java/TradingSystem/Client/Client.java
  version_1/Trading-System/src/test/java/TradingSystem/SubscriberTests.java
Labels: Client

#17 requirement 4.1
  version_1/Trading-System/src/test/java/TradingSystem/OwnerTests.java
Labels: Client

#19 merge exit sys
  version_1/Trading-System/src/main/java/TradingSystem/Client/Client.java
  version_1/Trading-System/src/test/java/TradingSystem/GuestTests.java
Labels: Client

#22 2.4 Login guest service
  version_1/Trading-System/src/main/java/TradingSystem/Client/Client.java
  version_1/Trading-System/src/test/java/TradingSystem/GuestTests.java
Labels: Client

#24 requirement 4.1 done
  version_1/Trading-System/src/main/java/TradingSystem/Client/Client.java
  version_1/Trading-System/src/main/java/TradingSystem/Server/ServiceLayer/ServiceApi/StoreOwnerService.java
  version_1/Trading-System/src/test/java/TradingSystem/OwnerTests.java
Labels: Client

#29 Change to new response (server)
  version_1/Trading-System/src/main/java/TradingSystem/Client/ApiClient.java
  version_1/Trading-System/src/main/java/TradingSystem/Client/Client.java
  version_1/Trading-System/src/main/java/TradingSystem/Server/DomainLayer/ShoppingComponent/ShoppingBag.java
  version_1/Trading-System/src/main/java/TradingSystem/Server/DomainLayer/ShoppingComponent/ShoppingCart.java
  version_1/Trading-System/src/main/java/TradingSystem/Server/DomainLayer/StoreComponent/Inventory.java
  version_1/Trading-System/src/main/java/TradingSystem/Server/DomainLayer/StoreComponent/Product.java
  version_1/Trading-System/src/main/java/TradingSystem/Server/DomainLayer/StoreComponent/Store.java
  version_1/Trading-System/src/main/java/TradingSystem/Server/DomainLayer/TradingSystemComponent/TradingSystem.java
  version_1/Trading-System/src/main/java/TradingSystem/Server/DomainLayer/TradingSystemComponent/Validation.java
  version_1/Trading-System/src/main/java/TradingSystem/Server/DomainLayer/UserComponent/ManagerPermission.java
  version_1/Trading-System/src/main/java/TradingSystem/Server/DomainLayer/UserComponent/OwnerPermission.java
  version_1/Trading-System/src/main/java/TradingSystem/Server/DomainLayer/UserComponent/SystemManagerPermission.java
  version_1/Trading-System/src/main/java/TradingSystem/Server/DomainLayer/UserComponent/User.java
  version_1/Trading-System/src/main/java/TradingSystem/Server/ServiceLayer/DummyObject/NewResponse.java
  version_1/Trading-System/src/main/java/TradingSystem/Server/ServiceLayer/ServiceApi/AdminService.java
  version_1/Trading-System/src/main/java/TradingSystem/Server/ServiceLayer/ServiceApi/GuestService.java
  version_1/Trading-System/src/main/java/TradingSystem/Server/ServiceLayer/ServiceApi/StoreManagerService.java
  version_1/Trading-System/src/main/java/TradingSystem/Server/ServiceLayer/ServiceApi/StoreOwnerService.java
  version_1/Trading-System/src/main/java/TradingSystem/Server/ServiceLayer/ServiceApi/SubscriberService.java
  version_1/Trading-System/src/test/java/TradingSystem/GuestTests.java
  version_1/Trading-System/src/test/java/TradingSystem/OwnerTests.java
Labels: Server

#30 4.1 - edit product - change quantity
  version_1/Trading-System/src/main/java/TradingSystem/Server/DomainLayer/TradingSystemComponent/TradingSystem.java
  version_1/Trading-System/src/main/java/TradingSystem/Server/ServiceLayer/ServiceApi/StoreOwnerService.java
  version_1/Trading-System/src/test/java/TradingSystem/OwnerTests.java
Labels: Client

#25 2.3 register guest service(server)
  version_1/Trading-System/src/main/java/TradingSystem/Server/DomainLayer/TradingSystemComponent/TradingSystem.java
  version_1/Trading-System/src/main/java/TradingSystem/Server/DomainLayer/TradingSystemComponent/Validation.java
  version_1/Trading-System/src/test/java/TradingSystem/Server/DomainLayer/TradingSystemComponent/TradingSystemTest.java
Labels: Server

#27 2.4 login guest service(server)
  version_1/Trading-System/src/main/java/TradingSystem/Server/DomainLayer/TradingSystemComponent/TradingSystem.java
  version_1/Trading-System/src/test/java/TradingSystem/Server/DomainLayer/TradingSystemComponent/TradingSystemTest.java
Labels: Server

#28 2.5 show all stores guest service(server)
  version_1/Trading-System/src/main/java/TradingSystem/Server/DomainLayer/TradingSystemComponent/TradingSystem.java
  version_1/Trading-System/src/test/java/TradingSystem/Server/DomainLayer/TradingSystemComponent/TradingSystemTest.java
Labels: Server

#33 2.6 seach product guest service(server)
  version_1/Trading-System/src/main/java/TradingSystem/Server/DomainLayer/StoreComponent/Store.java
  version_1/Trading-System/src/main/java/TradingSystem/Server/DomainLayer/TradingSystemComponent/TradingSystem.java
  version_1/Trading-System/src/test/java/TradingSystem/Server/DomainLayer/StoreComponent/StoreTest.java
  version_1/Trading-System/src/test/java/TradingSystem/Server/DomainLayer/TradingSystemComponent/TradingSystemTest.java
Labels: Server

#36 requirement 3.1
  version_1/Trading-System/src/main/java/TradingSystem/Server/DomainLayer/TradingSystemComponent/TradingSystem.java
  version_1/Trading-System/src/test/java/TradingSystem/Server/DomainLayer/TradingSystemComponent/TradingSystemTest.java
Labels: Server

#37 4.1-remove product-store owner service
  version_1/Trading-System/src/test/java/TradingSystem/OwnerTests.java
Labels: Client

#44 add manager - final tests
  version_1/Trading-System/src/test/java/TradingSystem/OwnerTests.java
Labels: Client

#42 3.2 -Add store-subscriber service
  version_1/Trading-System/src/main/java/TradingSystem/Server/DomainLayer/TradingSystemComponent/TradingSystem.java
  version_1/Trading-System/src/test/java/TradingSystem/Server/DomainLayer/TradingSystemComponent/TradingSystemTest.java
Labels: Server

#50 4.7-remove manager-store owner service (client)
  version_1/Trading-System/src/test/java/TradingSystem/OwnerTests.java
Labels: Client

#59 2.6 search guestServiceTest
  version_1/Trading-System/src/main/java/TradingSystem/Client/Client.java
  version_1/Trading-System/src/test/java/TradingSystem/GuestTests.java
Labels: Client

#63 4.3 add new owner store owner service
  version_1/Trading-System/src/test/java/TradingSystem/OwnerTests.java
Labels: Client

#45 Add product to cart tests
  version_1/Trading-System/src/main/java/TradingSystem/Server/DomainLayer/ShoppingComponent/ShoppingCart.java
  version_1/Trading-System/src/test/java/TradingSystem/Server/DomainLayer/ShoppingComponent/ShoppingCartTest.java
Labels: Server

#52 3.3 write comment subscriber service(server)
  version_1/Trading-System/src/main/java/TradingSystem/Server/DomainLayer/ShoppingComponent/ShoppingHistory.java
  version_1/Trading-System/src/main/java/TradingSystem/Server/DomainLayer/StoreComponent/Inventory.java
  version_1/Trading-System/src/main/java/TradingSystem/Server/DomainLayer/StoreComponent/Store.java
  version_1/Trading-System/src/main/java/TradingSystem/Server/DomainLayer/TradingSystemComponent/TradingSystem.java
  version_1/Trading-System/src/main/java/TradingSystem/Server/DomainLayer/UserComponent/User.java
Labels: Server

#56 Show shopping cart tests
  version_1/Trading-System/src/main/java/TradingSystem/Server/DomainLayer/ShoppingComponent/ShoppingCart.java
  version_1/Trading-System/src/main/java/TradingSystem/Server/DomainLayer/TradingSystemComponent/TradingSystem.java
  version_1/Trading-System/src/test/java/TradingSystem/Server/DomainLayer/ShoppingComponent/ShoppingCartTest.java
Labels: Server

#60 Remove products + tests
  version_1/Trading-System/src/main/java/TradingSystem/Server/DomainLayer/ShoppingComponent/ShoppingBag.java
  version_1/Trading-System/src/main/java/TradingSystem/Server/DomainLayer/ShoppingComponent/ShoppingCart.java
  version_1/Trading-System/src/main/java/TradingSystem/Server/DomainLayer/StoreComponent/Store.java
  version_1/Trading-System/src/main/java/TradingSystem/Server/DomainLayer/TradingSystemComponent/TradingSystem.java
  version_1/Trading-System/src/main/java/TradingSystem/Server/DomainLayer/UserComponent/User.java
  version_1/Trading-System/src/main/java/TradingSystem/Server/ServiceLayer/ServiceApi/GuestService.java
  version_1/Trading-System/src/test/java/TradingSystem/Server/DomainLayer/ShoppingComponent/ShoppingCartTest.java
Labels: Server

#64 3.3 write comment subscriber service(server)
  version_1/Trading-System/src/main/java/TradingSystem/Server/DomainLayer/StoreComponent/Product.java
Labels: Server

#62 Edit product quantity + tests
  version_1/Trading-System/src/main/java/TradingSystem/Server/DomainLayer/ShoppingComponent/ShoppingBag.java
  version_1/Trading-System/src/main/java/TradingSystem/Server/DomainLayer/ShoppingComponent/ShoppingCart.java
  version_1/Trading-System/src/main/java/TradingSystem/Server/DomainLayer/TradingSystemComponent/TradingSystem.java
  version_1/Trading-System/src/main/java/TradingSystem/Server/DomainLayer/UserComponent/User.java
  version_1/Trading-System/src/main/java/TradingSystem/Server/ServiceLayer/ServiceApi/GuestService.java
  version_1/Trading-System/src/test/java/TradingSystem/Server/DomainLayer/ShoppingComponent/ShoppingCartTest.java
Labels: Server

#72 4.1-change quantity product-store owner service
  version_1/Trading-System/src/test/java/TradingSystem/AdminTests.java
  version_1/Trading-System/src/test/java/TradingSystem/OwnerTests.java
Labels: Client

#67 Merge tests and order
  version_1/Trading-System/src/main/java/TradingSystem/Server/ServiceLayer/ServiceApi/GuestService.java
  version_1/Trading-System/src/test/java/TradingSystem/Server/DomainLayer/ShoppingComponent/ShoppingCartTest.java
  version_1/Trading-System/src/test/java/TradingSystem/Server/DomainLayer/StoreComponent/StoreTest.java
Labels: Server

#68 requirement 3.7
  version_1/Trading-System/src/main/java/TradingSystem/Server/DomainLayer/TradingSystemComponent/TradingSystem.java
Labels: Server

#81 3.1 logout fix
  version_1/Trading-System/src/main/java/TradingSystem/Client/Client.java
  version_1/Trading-System/src/test/java/TradingSystem/SubscriberTests.java
Labels: Client

#73 4.1 add product store owner service(server)
  version_1/Trading-System/src/main/java/TradingSystem/Server/DomainLayer/TradingSystemComponent/TradingSystem.java
  version_1/Trading-System/src/test/java/TradingSystem/Server/DomainLayer/TradingSystemComponent/TradingSystemTest.java
Labels: Server

#76 4.1 remove product store ownerservice(server)
  version_1/Trading-System/src/main/java/TradingSystem/Server/DomainLayer/TradingSystemComponent/TradingSystem.java
  version_1/Trading-System/src/test/java/TradingSystem/Server/DomainLayer/TradingSystemComponent/TradingSystemTest.java
Labels: Server

#79 4.1 edit product store owner service(server)
  version_1/Trading-System/src/main/java/TradingSystem/Server/DomainLayer/TradingSystemComponent/TradingSystem.java
  version_1/Trading-System/src/test/java/TradingSystem/Server/DomainLayer/ShoppingComponent/ShoppingCartTest.java
  version_1/Trading-System/src/test/java/TradingSystem/Server/DomainLayer/TradingSystemComponent/TradingSystemTest.java
Labels: Server

#82 4.1 change product quantity store owner service(server)
  version_1/Trading-System/src/main/java/TradingSystem/Server/DomainLayer/TradingSystemComponent/TradingSystem.java
  version_1/Trading-System/src/test/java/TradingSystem/Server/DomainLayer/TradingSystemComponent/TradingSystemTest.java
Labels: Server

#83 4.1---ChangeQuantityProduct---StoreOwnerService-(Client)
  version_1/Trading-System/src/main/java/TradingSystem/Server/DomainLayer/StoreComponent/Inventory.java
  version_1/Trading-System/src/main/java/TradingSystem/Server/DomainLayer/StoreComponent/Store.java
  version_1/Trading-System/src/main/java/TradingSystem/Server/DomainLayer/TradingSystemComponent/TradingSystem.java
  version_1/Trading-System/src/main/java/TradingSystem/Server/ServiceLayer/ServiceApi/StoreOwnerService.java
  version_1/Trading-System/src/test/java/TradingSystem/OwnerTests.java
  version_1/Trading-System/src/test/java/TradingSystem/Server/DomainLayer/ShoppingComponent/ShoppingCartTest.java
Labels: Client

#84 requirement 2.7 Client
  version_1/Trading-System/src/main/java/TradingSystem/Client/Client.java
  version_1/Trading-System/src/test/java/TradingSystem/GuestTests.java
  version_1/Trading-System/src/test/java/TradingSystem/OwnerTests.java
  version_1/Trading-System/src/test/java/TradingSystem/SubscriberTests.java
Labels: Client

#85 4.3---AddNewOwner---StoreOwnerService-(Client)
  version_1/Trading-System/src/main/java/TradingSystem/Client/Client.java
  version_1/Trading-System/src/main/java/TradingSystem/Server/DomainLayer/ShoppingComponent/ShoppingCart.java
  version_1/Trading-System/src/main/java/TradingSystem/Server/DomainLayer/TradingSystemComponent/TradingSystem.java
  version_1/Trading-System/src/main/java/TradingSystem/Server/ServiceLayer/ServiceApi/StoreOwnerService.java
Labels: Client

#90 AddNewManager without tests
  version_1/Trading-System/src/main/java/TradingSystem/Server/DomainLayer/StoreComponent/Store.java
  version_1/Trading-System/src/main/java/TradingSystem/Server/DomainLayer/TradingSystemComponent/TradingSystem.java
  version_1/Trading-System/src/main/java/TradingSystem/Server/DomainLayer/UserComponent/User.java
  version_1/Trading-System/src/main/java/TradingSystem/Server/ServiceLayer/ServiceApi/StoreOwnerService.java
Labels: Server

#93 RemoveManager without tests
  version_1/Trading-System/src/main/java/TradingSystem/Server/DomainLayer/StoreComponent/Store.java
  version_1/Trading-System/src/main/java/TradingSystem/Server/DomainLayer/TradingSystemComponent/TradingSystem.java
  version_1/Trading-System/src/main/java/TradingSystem/Server/DomainLayer/UserComponent/User.java
  version_1/Trading-System/src/main/java/TradingSystem/Server/ServiceLayer/ServiceApi/StoreOwnerService.java
Labels: Server

#95 Fixtets
  version_1/Trading-System/src/main/java/TradingSystem/Server/DomainLayer/TradingSystemComponent/TradingSystem.java
  version_1/Trading-System/src/test/java/TradingSystem/Server/DomainLayer/TradingSystemComponent/TradingSystemTest.java
Labels: Server

#98 4.11---ShowStoreHistory---StoreOwnerService-(Client)
  version_1/Trading-System/src/main/java/TradingSystem/Client/ApiClient.java
  version_1/Trading-System/src/main/java/TradingSystem/Client/Client.java
  version_1/Trading-System/src/main/java/TradingSystem/Server/DomainLayer/TradingSystemComponent/TradingSystem.java
  version_1/Trading-System/src/main/java/TradingSystem/Server/DomainLayer/UserComponent/OwnerPermission.java
  version_1/Trading-System/src/main/java/TradingSystem/Server/DomainLayer/UserComponent/User.java
  version_1/Trading-System/src/main/java/TradingSystem/Server/ServiceLayer/DummyObject/DummyShoppingHistory.java
  version_1/Trading-System/src/main/java/TradingSystem/Server/ServiceLayer/ServiceApi/StoreOwnerService.java
  version_1/Trading-System/src/test/java/TradingSystem/OwnerTests.java
Labels: Client

#99 merge open store subscriber test
  version_1/Trading-System/src/main/java/TradingSystem/Client/ApiClient.java
  version_1/Trading-System/src/main/java/TradingSystem/Client/Client.java
  version_1/Trading-System/src/test/java/TradingSystem/SubscriberTests.java
Labels: Client

#101 Remove Manager + tests
  version_1/Trading-System/src/test/java/TradingSystem/Server/DomainLayer/TradingSystemComponent/TradingSystemTest.java
Labels: Server

#104 3.3 write comment subscriber service (client)
  version_1/Trading-System/src/main/java/TradingSystem/Client/Client.java
  version_1/Trading-System/src/main/java/TradingSystem/Server/DomainLayer/ExternalServices/PaymentSystem.java
  version_1/Trading-System/src/test/java/TradingSystem/GuestTests.java
  version_1/Trading-System/src/test/java/TradingSystem/SubscriberTests.java
Labels: Client

#105 merge show history subscriber test
  version_1/Trading-System/src/main/java/TradingSystem/Client/Client.java
  version_1/Trading-System/src/test/java/TradingSystem/SubscriberTests.java
Labels: Client

#107 3.4 subscriberPurchase client
  version_1/Trading-System/src/test/java/TradingSystem/SubscriberTests.java
Labels: Client

#108 4.1.2 parallel tests purchasing a product while deleting it(client)
  version_1/Trading-System/src/main/java/TradingSystem/Client/Client.java
  version_1/Trading-System/src/test/java/TradingSystem/GuestTests.java
  version_1/Trading-System/src/test/java/TradingSystem/OwnerTests.java
  version_1/Trading-System/src/test/java/TradingSystem/PurchaseTask.java
  version_1/Trading-System/src/test/java/TradingSystem/RemoveProductTask.java
  version_1/Trading-System/src/test/java/TradingSystem/Result.java
Labels: Client

#109 4.5---AddNewManager---StoreOwnerService(Client)
  version_1/Trading-System/src/main/java/TradingSystem/Client/Client.java
  version_1/Trading-System/src/main/java/TradingSystem/Server/DomainLayer/TradingSystemComponent/TradingSystem.java
  version_1/Trading-System/src/main/java/TradingSystem/Server/DomainLayer/UserComponent/User.java
  version_1/Trading-System/src/main/java/TradingSystem/Server/ServiceLayer/ServiceApi/StoreOwnerService.java
  version_1/Trading-System/src/test/java/TradingSystem/OwnerTests.java
Labels: Client

#111 4.7---RemoveManager---StoreOwnerService-(Client)
  version_1/Trading-System/src/main/java/TradingSystem/Server/DomainLayer/TradingSystemComponent/TradingSystem.java
  version_1/Trading-System/src/main/java/TradingSystem/Server/ServiceLayer/ServiceApi/StoreOwnerService.java
Labels: Client

#113 ShowStoreHistory + UnitTests
  version_1/Trading-System/src/main/java/TradingSystem/Server/DomainLayer/StoreComponent/Store.java
  version_1/Trading-System/src/main/java/TradingSystem/Server/DomainLayer/TradingSystemComponent/TradingSystem.java
  version_1/Trading-System/src/main/java/TradingSystem/Server/ServiceLayer/ServiceApi/StoreOwnerService.java
  version_1/Trading-System/src/test/java/TradingSystem/Server/DomainLayer/StoreComponent/StoreTest.java
Labels: Server

#115 6.4---ShowAllStores---AdminService-(Client)
  version_1/Trading-System/src/main/java/TradingSystem/Client/Client.java
  version_1/Trading-System/src/main/java/TradingSystem/Server/DomainLayer/TradingSystemComponent/TradingSystem.java
  version_1/Trading-System/src/main/java/TradingSystem/Server/ServiceLayer/ServiceApi/AdminService.java
  version_1/Trading-System/src/main/java/TradingSystem/Server/ServiceLayer/ServiceApi/StoreOwnerService.java
  version_1/Trading-System/src/test/java/TradingSystem/AdminTests.java
  version_1/Trading-System/src/test/java/TradingSystem/OwnerTests.java
Labels: Client, Server

#116 history tests update
  version_1/Trading-System/src/main/java/TradingSystem/Server/DomainLayer/TradingSystemComponent/TradingSystem.java
Labels: Client

#117 history tests update 1
  version_1/Trading-System/src/main/java/TradingSystem/Server/DomainLayer/TradingSystemComponent/TradingSystem.java
Labels: Server

#118 history tests update 2
  version_1/Trading-System/src/main/java/TradingSystem/Server/DomainLayer/TradingSystemComponent/TradingSystem.java
  version_1/Trading-System/src/test/java/TradingSystem/AdminTests.java
  version_1/Trading-System/src/test/java/TradingSystem/OwnerTests.java
Labels: Client, Server

#121 4.5 parallel tests appointment of a parallel manager
  version_1/Trading-System/src/main/java/TradingSystem/Client/Client.java
  version_1/Trading-System/src/main/java/TradingSystem/Server/DomainLayer/ShoppingComponent/ShoppingCart.java
  version_1/Trading-System/src/main/java/TradingSystem/Server/DomainLayer/TradingSystemComponent/TradingSystem.java
  version_1/Trading-System/src/main/java/TradingSystem/Server/DomainLayer/UserComponent/User.java
  version_1/Trading-System/src/main/java/TradingSystem/Server/ServiceLayer/ServiceApi/StoreOwnerService.java
  version_1/Trading-System/src/test/java/TradingSystem/AddManagerTask.java
  version_1/Trading-System/src/test/java/TradingSystem/GuestTests.java
  version_1/Trading-System/src/test/java/TradingSystem/OwnerTests.java
Labels: Client

#123 req 2.9 parallel
  version_1/Trading-System/src/main/java/TradingSystem/Server/DomainLayer/TradingSystemComponent/TradingSystem.java
Labels: Client

#125 subscriber history tests done!!
  version_1/Trading-System/src/main/java/TradingSystem/Client/Client.java
  version_1/Trading-System/src/main/java/TradingSystem/Server/DomainLayer/TradingSystemComponent/TradingSystem.java
  version_1/Trading-System/src/test/java/TradingSystem/SubscriberTests.java
Labels: Server

#128 4.9 tests done
  version_1/Trading-System/src/main/java/TradingSystem/Client/Client.java
  version_1/Trading-System/src/main/java/TradingSystem/Server/DomainLayer/TradingSystemComponent/TradingSystem.java
  version_1/Trading-System/src/main/java/TradingSystem/Server/ServiceLayer/ServiceApi/StoreOwnerService.java
  version_1/Trading-System/src/test/java/TradingSystem/OwnerTests.java
Labels: Client, Server

#129 4.6 edit permissions (client)
  version_1/Trading-System/Error.log.1
  version_1/Trading-System/Info.log.1
  version_1/Trading-System/src/main/java/TradingSystem/Server/ServiceLayer/DummyObject/Response.java
  version_1/Trading-System/src/test/java/TradingSystem/OwnerTests.java
Labels: Client

#137 4.4 client + tests
  version_1/Trading-System/src/main/java/TradingSystem/Client/Client.java
  version_1/Trading-System/src/main/java/TradingSystem/Server/ServiceLayer/ServiceApi/StoreOwnerService.java
  version_1/Trading-System/src/test/java/TradingSystem/OwnerTests.java
Labels: Client

#135 first changes
  version_1/Trading-System/Error.log.lck
  version_1/Trading-System/Info.log.lck
  version_1/Trading-System/src/main/java/TradingSystem/Server/DomainLayer/StoreComponent/BuyingPolicy.java
  version_1/Trading-System/src/main/java/TradingSystem/Server/DomainLayer/StoreComponent/DiscountPolicy.java
  version_1/Trading-System/src/main/java/TradingSystem/Server/DomainLayer/StoreComponent/Policies/BuyingPolicy.java
  version_1/Trading-System/src/main/java/TradingSystem/Server/DomainLayer/StoreComponent/Policies/DiscountPolicy.java
  version_1/Trading-System/src/main/java/TradingSystem/Server/DomainLayer/StoreComponent/Policies/Expressions/AndComposite.java
  version_1/Trading-System/src/main/java/TradingSystem/Server/DomainLayer/StoreComponent/Policies/Expressions/CompositeExpression.java
  version_1/Trading-System/src/main/java/TradingSystem/Server/DomainLayer/StoreComponent/Policies/Expressions/Conditioning.java
  version_1/Trading-System/src/main/java/TradingSystem/Server/DomainLayer/StoreComponent/Policies/Expressions/Expression.java
  version_1/Trading-System/src/main/java/TradingSystem/Server/DomainLayer/StoreComponent/Policies/Expressions/OrComposite.java
  version_1/Trading-System/src/main/java/TradingSystem/Server/DomainLayer/StoreComponent/Policies/Expressions/XorComposite.java
  version_1/Trading-System/src/main/java/TradingSystem/Server/DomainLayer/StoreComponent/Policies/LimitExp/AgeLimit.java
  version_1/Trading-System/src/main/java/TradingSystem/Server/DomainLayer/StoreComponent/Policies/LimitExp/HourLimit.java
  version_1/Trading-System/src/main/java/TradingSystem/Server/DomainLayer/StoreComponent/Policies/LimitExp/QuantityLimit.java
  version_1/Trading-System/src/main/java/TradingSystem/Server/DomainLayer/StoreComponent/Policies/LimitExp/TimeLimit.java
  version_1/Trading-System/src/main/java/TradingSystem/Server/DomainLayer/StoreComponent/Policies/Limits/CategoryLimit.java
  version_1/Trading-System/src/main/java/TradingSystem/Server/DomainLayer/StoreComponent/Policies/Limits/Limit.java
  version_1/Trading-System/src/main/java/TradingSystem/Server/DomainLayer/StoreComponent/Policies/Limits/ProductLimit.java
  version_1/Trading-System/src/main/java/TradingSystem/Server/DomainLayer/StoreComponent/Policies/Limits/StoreLimit.java
  version_1/Trading-System/src/main/java/TradingSystem/Server/DomainLayer/StoreComponent/Policies/SaleExp/PriceExp.java
  version_1/Trading-System/src/main/java/TradingSystem/Server/DomainLayer/StoreComponent/Policies/SaleExp/QuantityExp.java
  version_1/Trading-System/src/main/java/TradingSystem/Server/DomainLayer/StoreComponent/Policies/Sales/AddComposite.java
  version_1/Trading-System/src/main/java/TradingSystem/Server/DomainLayer/StoreComponent/Policies/Sales/CategorySale.java
  version_1/Trading-System/src/main/java/TradingSystem/Server/DomainLayer/StoreComponent/Policies/Sales/CompositeSale.java
  version_1/Trading-System/src/main/java/TradingSystem/Server/DomainLayer/StoreComponent/Policies/Sales/MaxComposite.java
  version_1/Trading-System/src/main/java/TradingSystem/Server/DomainLayer/StoreComponent/Policies/Sales/ProductSale.java
  version_1/Trading-System/src/main/java/TradingSystem/Server/DomainLayer/StoreComponent/Policies/Sales/Sale.java
  version_1/Trading-System/src/main/java/TradingSystem/Server/DomainLayer/StoreComponent/Policies/Sales/StoreSale.java
  version_1/Trading-System/src/main/java/TradingSystem/Server/DomainLayer/StoreComponent/Store.java
  version_1/Trading-System/src/main/java/TradingSystem/Server/TradingSystemApplication.java
  version_1/Trading-System/src/test/java/TradingSystem/AdminTests.java
Labels: Server

#139 Req 4.4 remove manager(server)
  version_1/Trading-System/Error.log.1
  version_1/Trading-System/Info.log.1
  version_1/Trading-System/src/main/java/TradingSystem/Server/DomainLayer/StoreComponent/Store.java
  version_1/Trading-System/src/main/java/TradingSystem/Server/DomainLayer/TradingSystemComponent/TradingSystem.java
  version_1/Trading-System/src/test/java/TradingSystem/Server/DomainLayer/TradingSystemComponent/TradingSystemTest.java
Labels: Server

#140 4.4-remove owner + responsibilties
  version_1/Trading-System/Error.log.1
  version_1/Trading-System/Info.log.1
  version_1/Trading-System/src/main/java/TradingSystem/Server/DomainLayer/TradingSystemComponent/TradingSystem.java
  version_1/Trading-System/src/main/java/TradingSystem/Server/DomainLayer/UserComponent/User.java
  version_1/Trading-System/src/main/java/TradingSystem/Server/ServiceLayer/ServiceApi/StoreOwnerService.java
  version_1/Trading-System/src/test/java/TradingSystem/OwnerTests.java
Labels: Client

#141 9.1-real time alert
  version_1/Trading-System/src/main/java/TradingSystem/Server/DomainLayer/TradingSystemComponent/TradingSystem.java
  version_1/Trading-System/src/main/java/TradingSystem/Server/DomainLayer/UserComponent/User.java
  version_1/Trading-System/src/test/java/TradingSystem/OwnerTests.java
Labels: Server

#142 update observer pattern
  version_1/Trading-System/src/main/java/TradingSystem/Server/DomainLayer/TradingSystemComponent/TradingSystem.java
Labels: Server

#144 Merge API server websocket with API client
  version_1/Trading-System/src/main/java/TradingSystem/Server/DomainLayer/ShoppingComponent/ShoppingCart.java
  version_1/Trading-System/src/main/java/TradingSystem/Server/DomainLayer/StoreComponent/Store.java
  version_1/Trading-System/src/main/java/TradingSystem/Server/ServiceLayer/ServiceApi/AdminService.java
  version_1/Trading-System/src/main/java/TradingSystem/Server/ServiceLayer/ServiceApi/GuestService.java
  version_1/Trading-System/src/main/java/TradingSystem/Server/ServiceLayer/ServiceApi/StoreOwnerService.java
  version_1/Trading-System/src/main/java/TradingSystem/Server/ServiceLayer/ServiceApi/SubscriberService.java
Labels: Client, Server

#146 4.2-discount policy-tests-elinor
  version_1/Trading-System/src/main/java/TradingSystem/Server/DomainLayer/StoreComponent/Policies/DiscountPolicy.java
  version_1/Trading-System/src/main/java/TradingSystem/Server/DomainLayer/StoreComponent/Policies/SaleExp/QuantityForGetSale.java
  version_1/Trading-System/src/main/java/TradingSystem/Server/DomainLayer/StoreComponent/Policies/Sales/CategorySale.java
  version_1/Trading-System/src/main/java/TradingSystem/Server/DomainLayer/StoreComponent/Policies/Sales/ProductSale.java
  version_1/Trading-System/src/main/java/TradingSystem/Server/DomainLayer/StoreComponent/Policies/Sales/StoreSale.java
  version_1/Trading-System/src/main/java/TradingSystem/Server/DomainLayer/StoreComponent/Store.java
  version_1/Trading-System/src/main/java/TradingSystem/Server/DomainLayer/TradingSystemComponent/TradingSystem.java
  version_1/Trading-System/src/test/java/TradingSystem/Server/DomainLayer/StoreComponent/Policies/DiscountPolicyTest.java
Labels: Server
